{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Indian Cricketers</title>
	<link rel="stylesheet"  href="{% static 'css/style.css' %}">
</head>
<body>
	<div id="links">
		<a href="#home">Home/</a>
		<a href="#virat">Virat/</a>
		<a href="#dhoni">M.S Dhoni/</a>
		<a href="#rohit">Rohit/</a>
		<a href="#yuva">Yuvraj/</a>
	</div>
	<div id="home">
		<h2>Indian Legend Crickters</h2>
		<p>The Indian cricket team is one of the most successful cricket teams in the world, having won 2 ICC World Cups, 1 ICC World Twenty20, 2 ICC Champion's Trophies and finished runners up in the inaugural edition of the ICC World Test Championship. The 2021 ICC Men's T20 World Cup, was initially meant to be hosted by India.</p>
		<table>
			<tr>
				<td><img src="{% static 'images/indian legends.1.jpg' %}" width="400px" height="250px" alt=""></td>
				<td><img src="{% static 'images/indian legends.jpg' %}" width="400px" height="250px" alt=""></td>
			</tr>
		</table>
		<p>Indian cricket team won its first World Cup in the year 1983 by defeating West Indies. Kapil Dev was the first Indian Cricket captain to lift the coveted cricket world cup. Sachin Tendulkar holds the world record for maximum runs scored with 18426 runs in one-day internationals and 15921 runs in test matches.</p>
	</div>
	<div id="virat">
		<h2>Virat Kohli</h2>
		<p>Virat Kohli was born on 5 November 1988 in New Delhi. He is considered one of the best batsmen in the world and has numerous records to his name. He has been consistently ranked among the top batsmen in the world by the International Cricket Council (ICC) and has held the number-one ranking in ODIs multiple times.</p>
		<table>
			<tr>
				<td><img src="{% static 'images/virat.1.jpg' %}" width="250px" height="150px" alt=""></td>
				<td><img src="{% static 'images/virat.2.jpg' %}" width="250px" height="150px" alt=""></td>
				<td><img src="{% static 'images/virat.3.jpg' %}" width="250px" height="150px" alt=""></td>
				<td><img src="{% static 'images/virat.4.jpg' %}" width="250px" height="150px" alt=""></td>
			</tr>
		</table>
		<p>Undoubtedly, Virat is one of the best cricketers today and with his attitude and technique, he can achieve more milestones ahead and more success in his career. Kohli's passion for the game is what makes him the best among other competitors and the reason why Kohli is known as the king of cricket</p>
	</div>
	<div id="dhoni">
		<h2>M.S Dhoni</h2>
		<p>Dhoni is the most sponsored player in the whole of India. MS Dhoni honoured Rajiv Gandhi Khel Ratna, Padma Bhushan, and Padma Shri awards. Dhoni led the Indian team and won the One Day Cricket World Cup after 24 years. Dhoni won India in England in the One Day International series on the 2nd of September 2014</p>
		<table>
			<tr>
				<td><img src="{% static 'images/ms dhoni.1.jpg' %}" width="250px" height="150px" alt=""></td>
				<td><img src="{% static 'images/ms dhoni.2.jpg' %}" width="250px" height="150px" alt=""></td>
				<td><img src="{% static 'images/ms dhoni.3.jpg' %}" width="250px" height="150px" alt=""></td>
				<td><img src="{% static 'images/ms dhoni.4.jpg' %}" width="250px" height="150px" alt=""></td>
			</tr>
		</table>
		<p>Mahendra Singh Dhoni, commonly known as MS Dhoni and Mahi, is an Indian cricketer player and was a former captain of the Indian cricket team. Dhoni is a right-handed batsman. The Indian cricket team won the 2011 Cricket World Cup under his captainship.</p>
	</div>
	<div id="rohit">
		<h2>Rohit Sharma</h2>
		<p>He is renowned as one of the best batsmen in limited-overs cricket and is known for his capacity to hit big sixes and accumulate runs quickly. In his time playing international cricket, Rohit has hit 426 sixes. He has the most IPL championships of any captain in league history with 5 (2013,2015,2017,2019,2020).</p>
		<table>
			<tr>
				<td><img src="{% static 'images/rohit.1.jpg' %}" width="250px" height="150px" alt=""></td>
				<td><img src="{% static 'images/rohit.2.jpg' %}" width="250px" height="150px" alt=""></td>
				<td><img src="{% static 'images/rohit.3.jpg' %}" width="250px" height="150px" alt=""></td>
				<td><img src="{% static 'images/rohit.4.jpg' %}" width="250px" height="150px" alt=""></td>
			</tr>
		</table>
		<p>Rohit Sharma's achievements and popularity have made him one of the most celebrated cricketers of his generation. Known for his elegant stroke play and ability to score big runs, he has etched his name in the annals of cricket history with numerous records and accolades.</p>
	</div>
	<div id="yuva">
		<h2>Yuvaraj Singh</h2>
		<p>Yuvraj Singh (born 12 December 1981) is a former Indian international cricketer who played in all formats of the game. He is an all-rounder who batted left-handed in the middle order and bowled slow left-arm orthodox .</p>
		<table>
			<tr>
				<td><img src="{% static 'images/yuvraj.1.jpg' %}" width="250px" height="150px" alt=""></td>
				<td><img src="{% static 'images/yuvraj.2.jpg' %}" width="250px" height="150px" alt=""></td>
				<td><img src="{% static 'images/yuvraj.3.jpg' %}" width="250px" height="150px" alt=""></td>
				<td><img src="{% static 'images/yuvraj.4.jpg' %}" width="250px" height="150px" alt=""></td>
			</tr>
		</table>
		<p>Yuvraj Singh is well-known throughout the nation among cricket fans and those who do not follow the sport. He is a very skilled cricketer who excels at batting. Yuvraj uses his left hand to bat. While opposing England in the ICC World Cup 2007, he broke the record by smashing six sixes in a single over.</p>
	</div>

	<div id="footer">
		<h2>Copyright:&copy;2023</h2>
		<small>All Rights Are &reg;Reserved</small>
		<p>Developed & Maintained By <a href="">BCCI</a></p>
	</div>
</body>
</html>